:root {
  --white: #ffffff;
  --blue: #030b77;
  --yellow: #faf746;
  --pink: #db52f3;
}
* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: 'Vitro_core', sans-serif;
}
body {
  color: var(--white);
}

header {
  display: flex;
  justify-content: center;

  padding: 2rem;

  background-color: var(--blue);
  font-size: 50px;
}
main {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100vh;
  padding: 0.5rem;

  background-image: url('../public/assets/background.jpeg');
  background-size: cover;
  font-size: 30px;
}
.game__button {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}
.game__button > button {
  padding: 0.6rem;
  margin: 0.6rem;

  border-radius: 5%;
  background-color: var(--pink);
  color: var(--white);
  font-size: 30px;
}
.game__button > button:hover {
  background-color: var(--yellow);
  color: var(--blue);

  cursor: pointer;
}
.game__button-start::before {
  content: 'START GAME';
}

.game__button-reset::before {
  content: 'RESET GAME';
}
.game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 2;
}
.game__kingman {
  flex: 1;
  background-image: url('/public/assets/background.jpeg');
  background-size: cover;
}
.game__word {
  flex: 2;

  margin: 0.6rem;
  text-align: center;
}

.chance {
  display: flex;
  justify-content: center;
  flex: 1;

  margin: 0.6rem;

  text-align: center;
}
