:root {
  --white: #ffffff;
  --blue: #0310c7;
  --yellow: #faf746;
  --pink: #db52f3;
}
* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: 'Vitro_core', sans-serif;
}
body {
  background-image: url('/public/assets/background.jpeg');
  background-size: cover;
}

header {
  display: flex;
  justify-content: center;

  margin: 2rem;

  color: var(--white);
}
main {
  display: flex;
  justify-content: center;
}
